# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/prikenan/jagadraya.site"
PassengerBaseURI "/"
PassengerNodejs "/home/prikenan/nodevenv/jagadraya.site/10/bin/node"
PassengerAppType node
PassengerStartupFile app.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END

Options +FollowSymLinks -Indexes
        IndexIgnore *
        DirectoryIndex
 
 <IfModule mod_rewrite.c>
 RewriteEngine on
 # gunakan port yg sesuai seperti diatas
 RewriteRule ^(.*)$ http://localhost:63001/$1 [P]
 </IfModule>